<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        h1,h2{
            color:rgb(51, 103, 214);
            text-align: center;
        }
        body{
            padding-top: 100px;
        }
        h1 a{
            display: inline-block;
            margin: 20px 40px;
        }
    </style>
</head>
<body>
    <h1>Hey,guys</h1>
    <h1>Welcome to use the <span style="color:red">koa-static-router</span>  for koa</h1>
    <h1><a href="/public/image/dir/1.png">route1</a><a href="/static/image/dir/2.png">route2</a></h1>
</body>
</html>
